.app {
  display: flex;
  flex-direction: row;
}

.filter-column {
  display: flex;
  flex-direction: column;
  min-width: 33vw;
  border-right: 1px var(--gray) solid;
  height: 100vh;
  padding: 12px;
}

.filter-column h1 {
  font-size: 12px;
  text-align: center;
}

.main {
  display: flex;
  flex-direction: column;
  padding: 12px;
}